<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .tab {
            display: inline-block;
            margin-left: 10px;
        }
        .tab-50 {
            display: inline-block;
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <form autocomplete="off" action = "{{ url_for('update') }}" method = "POST">
        <h3>Data Verification</h3>
        filename: {{data["img_name"]}}<br><br>
        Pos X: <input type = "text" name = "_pos_x" /><br>
        Pos Y :  <input type = "text" name = "_pos_y" /><br>
        Pos Z :  <input type = "text" name = "_pos_z" /><br><br>

        <input type = "submit" value = "submit" />

        <br><br>

{#          guessed / previously entered value:#}
{#          <h3 style="margin-top:0px; margin-bottom:0px;">#}
{#              POS:<span class="tab"></span>{{data["pos_x_data"]}} {{data["pos_y_data"]}} {{data["pos_z_data"]}}#}
{#              <span class="tab-50"></span><input type = "submit" value = "Correct" />#}
{#          </h3>#}
        <img src="{{ url_for('static', filename='images/') }}{{ data['img_src']}}" alt="image load failed: skip">
        <br>
        <br>
        <br>
        <br>
        <button><a href = "\apex">skip</a></button>
        <br>
{#        disabled inputs with default values to pass on img_data to cross-reference and move to verified if valid#}
        <input style="display: inline" type = "hidden" name = "_filename" value="{{data["img_filename"]}}" />
        <input style="display: inline" type = "hidden" name = "_fname" value="{{data["img_name"]}}" /><br>
        <input style="display: inline" type = "hidden" name = "orig_pos_x" value="{{data["orig_pos_x"]}}" /><br>
        <input style="display: inline" type = "hidden" name = "orig_pos_y" value="{{data["orig_pos_y"]}}" /><br>
        <input style="display: inline" type = "hidden" name = "orig_pos_z" value="{{data["orig_pos_z"]}}" /><br>
        <input style="display: inline" type = "hidden" name = "pos_x_verified" value="{{data["pos_x_verified"]}}" /><br>
        <input style="display: inline" type = "hidden" name = "pos_y_verified" value="{{data["pos_y_verified"]}}" /><br>
        <input style="display: inline" type = "hidden" name = "pos_z_verified" value="{{data["pos_z_verified"]}}" /><br>
    </form>
</body>
</html>