<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .tab {
            display: inline-block;
            margin-left: 10px;
        }
        .tab-50 {
            display: inline-block;
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <h3>Data Verification</h3>
    <br><br>
{#    TODO: add instructions and example of data input#}
    <h1>Instructions and example to be added.</h1>
    <br>
    <h2><a href = "\apex">enter data for images</a></h2>

   </body>
</html>